body {
    font-family: "Inter", sans-serif;
    background-color: #7a876f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #485241; /* fundo mais escuro cozy */
    color: #f5f5f5;
    width: 330px;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 0 14px rgba(0,0,0,0.2);
    border: 2px solid #a6b697;
    text-align: center;
}

.card h1 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
}

#categoriaSelect {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #c2cea7;
    background-color: #88a78e;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #88a376;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #9ab889;
}

.resultado {
    margin-top: 20px;
}

.resultado img {
    width: 80%;
    border-radius: 12px;
    margin-top: 12px;
    border: 2px solid #c2cea7;
}
