.card {
    background: #7a876f; /* verde acinzentado escuro */
    border: 2px solid #a6b697;
    border-radius: 16px;
    padding: 20px;
    color: #f6f6f1; /* texto claro para contraste */
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

/* Título do widget */
.titulo {
    color: #c2cea7;
}

/* Botão */
button {
    background: #88a376;
    border: none;
    padding: 10px 16px;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #88a78e;
}
